.add-expense-page__title {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    background-color: $accent-color-1;
}

.add-expense-page__title p {
    margin: 0;
    font-size: 3rem;
}
